  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title></title>
    </head>
    <body>
      <div class="header">
        <div class="header-title">
          <h2>TaskManegement</h2>
        </div>
        <div class="header-index">
          <ul>
            <li>投稿一覧</li>
          </ul>
        </div>
      </div>
      <div class="main">
        <% @tasks.each do |task| %>
          <div class="tasks-index-item">
            <%= link_to(task.content, "/tasks/#{task.id}")%>
          </div>
        <% end %>
      </div>
      <div class="footer">

      </div>
    </body>
  </html>
