<div class="header-index">
  <ul>
    <li>投稿一覧</li>
  </ul>
</div>
      <div class="main">
        <% @tasks.each do |task| %>
          <div class="tasks-index-item">
            <%= link_to(task.content, "/tasks/#{task.id}")%>
          </div>
        <% end %>
      </div>
