      <div class="main">
        <% @tasks.each do |task| %>
          <div class="tasks-index-item">
            <%= link_to(task.content, "/tasks/#{task.id}")%>
          </div>
        <% end %>
      </div>
