<% if @task.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>タスク登録</h1>
<%= form_tag("/tasks")do %>
  <textarea name="content"></textarea>
  <input type="submit"  value="登録">
<% end %>
