    <link rel="stylesheet" href="/assets/stylesheets/show.scss">
    <div class="task-show-item">
      <%= @task.content%>
      <div class="post-time">
        <%= @task.created_at%>
      </div>
    </div>
