    <link rel="stylesheet" href="/assets/stylesheets/show.scss">
    <div class="header-index">
      <ul>
        <li>投稿詳細</li>
      </ul>
    </div>
    <div class="task-show-item">
      <%= @task.content %>
      <div class="post-time">
        <%= @task.created_at %>
        <%= link_to "編集", edit_task_path(@task) %>
        <%= link_to "削除", "/tasks/#{@task.id}", method: "delete", data: {confirm: "タスク「#{@task.content}」を削除します。よろしいですか？"} %>
      </div>
    </div>
