<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-title">
        <h2>TaskManegement</h2>
      </div>
      <div class="header-index">
        <ul>
          <li>投稿一覧</li>
        </ul>
      </div>
    </div>
    <footer>
    </footer>
    <%= yield %>
  </body>
</html>
